body {
    padding: 0px 25px;
    font-family: 'Product Sans';
    background-color: #202020;
    color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    transition: linear 300ms
}

.container:hover input ~ .radio {
    background-color: #ccc;
}

.container input:checked ~ .radio {
    background-color: #2196F3;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .radio:after {
    display: block;
}

.container .radio:after {
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}

/* _loader_ */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #444;
    border-radius: 50%;
    border-top: 16px solid red;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: 300ms;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}